@import "globals";

.cursor
{
    position: absolute;
    left: -100px;
    top: 0;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: $lime-green;
    z-index: 99;
    mix-blend-mode:difference;
    @media screen and(max-width:450px) {
        display: none;
    }
}


header
{
    position: fixed;
    z-index: 1;
    //inset: 0 0 unset 0;
    left: 0;
    right: 0;
    top: 0;
    height: 42px;
    padding: 25px 0;
    box-sizing: content-box;
    cursor: none;
}

.header,.hero,.services-grid,.products-grid,.conclusion-content,.footer-grid
{
    width: 88%;
    max-width: 1300px;
}

.cta-btn
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    height: 42px;
    max-height: 42px;
    border-radius: 21px;
    width: 160px;
    padding: 11px 20px;
    white-space: nowrap;
    font-size: .9rem;
    box-sizing: border-box;
    cursor: pointer;
    img{
        width: 17px;
        margin-left: 5px;
    }
}

.header
{
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__right
    {
        display: flex;
    }

    ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white    ;
        width: 300px;
        margin-right: 3rem;
        li{
            cursor: pointer;
            font-size: .9rem;
            &.inactive
            {
                opacity: .5;
            }
        }

        span{
            font-size: .8rem;
            background: $lime-green;
            color: $main-green;
            padding: 1px 3px;
            border-radius: .5rem;
        }
        
    }

    .mobile-menu-btn
    {
        display: none;
    }

    @media screen and(max-width:950px) {
        ul,.cta-btn
        {
            display: none;
        }
        .mobile-menu-btn
        {
            display: unset;
        }
    }
}
//**
//***mobile-menu animation
//***

.mobile-menu-btn
{
    height: 19px;
    width: 18px;
    position: relative;
    cursor: pointer;
    span{
        display: block;
        position: absolute;
        right: 0;
        width: 100%;
        height: 2px;
        border-radius: 1px;
        background: white;
    }
    span:nth-child(1),span:nth-child(3)
    {
        width: 100%;
    }
    span:nth-child(2)
    {
        width: 60%;
        top: 50%;
        right: 0;
        transform: translate(0,-50%);
    }
    span:nth-child(3)
    {
        bottom: 0;
    }
}

.mobile-menu-btn.active
{
    span:first-child
    {
        animation: animationSpan1 1s forwards;
        transform-origin: center;
        @keyframes animationSpan1 {
            0%{
                transform: translateY(0);
            }
            50%{
                transform: translateY(8.5px) rotate(0deg);
            }
            100%{
                transform: translateY(8.5px) rotate(-45deg);
            }
        }
    }
    span:nth-child(2)
    {
        transform-origin: center;
        animation: animationSpan2 1s forwards;
        @keyframes animationSpan2 {
            0%{
                opacity: 1;
                transform: translate(0,-50%);
            }
            50%{
                opacity: 0;
                transform: translate(0,-50%);
            }100%{
                opacity: 0;
            }
        }
    }
    span:last-child
    {
        transform-origin: center;
        animation: animationSpan3 1s forwards;
        @keyframes animationSpan3 {
            0%{
                transform: translateY(0);
            }
            50%{
                transform: translateY(-8.5px);
            }100%{
                transform: translateY(-8.5px) rotate(45deg);
            }
        }
    }
}

.mobile-menu-btn.inactive
{
    span:first-child
    {
        animation: removeAnimationSpan1 1s forwards;
        transform-origin: center;
        @keyframes removeAnimationSpan1 {
            0%{
                transform: translateY(8.5px) rotate(-45deg);
            }
            50%{
                transform: translateY(8.5px) rotate(0deg);
            }
            100%{
                transform: translateY(0);
            }
        }
    }
    span:nth-child(2)
    {
        transform-origin: center;
        animation: removeAnimationSpan2 1s forwards;
        @keyframes removeAnimationSpan2 {
            0%{
                opacity: 0;
            }
            50%{
                opacity: 0;
                transform: translate(0,-50%);
            }100%{
                opacity: 1;
                transform: translate(0,-50%);
            }
        }
    }
    span:last-child
    {
        transform-origin: center;
        animation: removeAnimationSpan3 1s forwards;
        @keyframes removeAnimationSpan3 {
            0%{
                transform: translateY(-8.5px) rotate(45deg);
            }
            50%{
                transform: translateY(-8.5px);
            }100%{
                transform: translateY(0) rotate(0deg);
            }
        }
    }
}

//***************************

main
{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 0;
    background: $main-green;
    cursor: none;
}

.page-content
{
    position: absolute;
    top: 100vh;
    left: 0;
    width: 100%;
}

.final
{
    background: $main-green;
}

.hero
{
    margin:200px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__left
    {
        h1{
            font-size: clamp(3rem,5vw,4rem);

            color: white;
            font-weight: 400;
        }
    }
    &__right
    {
        width: 45%;
        display: flex;
        justify-content: flex-end;
        video{
            display: block;
            width: 100%;
            max-height: 400px;
            object-fit: cover;
        }
    }

    @media screen and(max-width:800px) 
    {
        flex-direction: column;
        align-items: flex-start;    
        &__right
        {
            margin-top: 80px;
            width: 70%;
            min-width: 350px;
        }
    }
}

.services
{
    //height: 800px;
    padding: 130px 0;
    background: white;
    h1{
        text-align: center;
        font-size: 4rem;
        font-weight: 400;
    }
}

.services-grid
{
    margin: 100px auto 0 auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-gap: 30px;

    .service-element
    {
        border: 1px solid rgb(232, 232, 232);
        border-radius: 15px;
        position: relative;
        padding:  2rem 2rem 3rem 2rem;
        overflow: hidden;
        cursor: pointer;
        img{
            margin: 1rem 0;
            transform: rotate(0);
            transition: transform 5s ease-out;
        }
        h2{
            margin-top: 1.5rem;
            font-weight: 900;
        }
        p{
            margin: 1rem 0 0 0;
            line-height: 1.7rem;
        }

        &::after
        {
            content: "";
            position: absolute;
            border-radius: 15px;
            inset: 0;
            background: #25ff79;
            opacity: .2;
            transform-origin: top right;
            transform: scale(0);
            transition: transform .4s ease-in;
        }

        &:hover
        {
            img{
                transform: rotate(-90deg);
            }
            
            &::after
            {
                transform: scale(1);
            }
            border:1px solid #25ff79;
        }
    }

    @media screen and(max-width:990px) 
    {
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3,1fr);
    }
    @media screen and(max-width:640px) 
    {
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(6,1fr);
    }
}

.products
{
    cursor: none;
    background: white;
    padding-bottom: 100px;
    h1{
        font-size: 3.5rem;
        text-align: center;
        font-weight: 400;;
    }
}

.products-grid
{
    margin: 100px auto 0px auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-gap: 60px 30px;
    cursor: none;

    .product-element
    {
        border-radius: 15px;
        overflow: hidden;
        background: rgb(246, 245, 245);
        transform: translateY(0px);
        transition: transform .4s;
        cursor: pointer;
        &-top
        {
            position: relative;   
        }
        img{
            width: 100%;
            object-fit: cover;
        }

        h2{
            font-weight: 300;
        }
        p{
            margin-top: .5rem;
            font-size: 1.4rem;
            font-weight: 800;
        }

        &-bottom
        {
            padding: 2rem 1rem 2rem 2rem;
            border-radius: 0 0 1rem 1rem;
        }

        &:hover
        {
            transform: translateY(-20px);
            box-shadow: 0px 1px 2px darkgray;
        }

    }

    .price
    {
        position: absolute;
        bottom: 30px;
        right: 30px;
        background: $lime-green;
        font-weight: 700;
        padding: .7rem 1.2rem;
        border-radius: 2rem;
        font-size: .8rem;
    }

    .product-element:last-of-type
    {
        height: 450px;
        background-image: url("../assets/products6.png");
        background-size: cover;
        background-repeat: no-repeat;
        padding: 6rem 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        h1{
            color: white;
            font-size: clamp(1.7rem,2vw,2.3rem);
            padding: 1rem;
            font-weight: 800;
        }
        
        .btn-container
        {
            width: 200px;
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        button{
            height: 55px;
            max-height: 55px;
            border-radius: 27px;
            font-size: 1.1rem;
            transition: transform .2s;
            position: relative;
            .cta-btn-content
            {
                position: absolute;
                inset: 0;
                z-index: 0;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .cta-btn-layer
            {
                position: absolute;
                inset: 0;
                z-index: 1;
            }
            img{
                width: 18px;
            }
        }
    }

    @media screen and(max-width:1075px) 
    {
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3,1fr);       
    }
    
    @media screen and(max-width:750px) 
    {
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(6,1fr);       
    }
}

.reviews
{
    background: white;
    font-size: 2rem;
    h1{
        text-align: center;
        font-weight: 400;
    }
}

.reviews__caroussel
{
    //height: 600px;
    margin-top: 100px;
    min-width: 350px;
    position: relative;
    button{
        position: absolute;
        top: 50%;
        transform: translate(0,-50%);
        height: 50px;
        width: 50px;
        border: 1px solid black;
        border-radius: 50%;
        &::before
        {
            content: "";
            position: absolute;
            height: 9px;
            border-bottom: 2px solid rgb(60, 60, 60);
            border-right: 2px solid rgb(60, 60, 60);
            width: 9px;
            top: 50%;
            left: 50%;
        }
        &::after
        {
            content: none;
        }
    }

    .btn-prev{
        left: 50px;
        &::before
        {
            transform: translate(-35%,-50%) rotate(-225deg);
        }
        
    }
    .btn-next{
        right: 50px;
        &::before
        {
            transform: translate(-65%,-50%) rotate(-45deg);
        }
    }

    @media screen and(max-width:800px) {
        button{
            top: unset;
            transform: translate(0,0);
            bottom: -70px;
        }
        .btn-prev{left: 100px;}
        .btn-next{right: 100px;}
        .reviews__caroussel-container
        {
            width: 95%;
        }
        

    }

}

.reviews__caroussel-container
{
    width: 80%;
    max-width: 900px;
    height: 100%;
    overflow: hidden;
    transition: transform .6s;
    .reviews__caroussel-content
    {
        width: 100%;
        height: 100%;
        display: flex;
        .caroussel-element
        {
            // min-width: 100%;
            // max-width: 100%;
            min-height: 100%;
            max-height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            p{
                width: 80%;
                line-height: clamp(1.5rem,3vw,3rem);
                text-align: center;
                font-weight: 300;
                font-size: clamp(1rem,2vw,1.8rem);
                margin: 2rem 0;
            }
            .client-name{
                display: flex;
                justify-content: space-between;
                font-size: clamp(.9rem,1.5vw,1.4rem);
            }
            .name
            {
                font-weight: 800;
            }
            .client
            {
                margin-left: .5rem;
            }
        }
        
    }
}

.conclusion-content
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 6rem auto ;
    padding: 7rem 0 3rem 0;
    h1{
        font-size: 3rem;
        color: white;
        font-weight: 300;
    }

    @media screen and(max-width:800px) {
        flex-direction: column;
        align-items: flex-start;
        button{
            margin-top: 2rem;
        }
    }
}


.footer-grid
{
    display: grid;
    margin: auto;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(1,1fr);
    color: white;
    padding: 8vmin 0;
    border-top: 1px solid white;
    
    li{
        h2{
            font-size: 1.2rem;
        }
        a{
            display: block;
            margin: 1rem 0;
            font-size: 1.1rem;
        }
        span{
            font-size: .8rem;
            background: $lime-green;
            padding: .1rem .3rem;
            color: $main-green;
            margin-left: 5px;
            border-radius: .7rem;
        }

        ul{
            margin-top: 1rem;
            display: flex;
            gap: 20px;
            li{
                height: 45px;
                width: 45px;
                border-radius: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                &:hover
                {
                    background:#2C564E;
                    
                }
            }
        }
    }
    
    li:last-of-type 
    {
        img{
            width: 28px;
        }
    }

    @media screen and(max-width:1075px) {
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,1fr);
        grid-row-gap: 30px;
    }
    @media screen and(max-width:640px) {
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3,1fr);
        grid-row-gap: 30px;
    }
    @media screen and(max-width:620px) {
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: 50px 1fr 1fr 1fr 100px;
        grid-row-gap: 30px;
        li{
            height: auto;
        }
    }
}